<launch>

  <node name="planner_node" pkg="global_planner_plus" type="planner" output="screen" launch-prefix="xterm -e gdb --args">
    <remap from="planner_node/goal" to="/move_base_simple/goal"/>
    <remap from="global_costmap" to="costmap"/>
    <rosparam file="$(find nav_configs)/config/common_costmap_params.yaml" command="load" ns="costmap"/>
    <rosparam file="$(find global_planner_plus)/config/global_costmap.yaml" command="load" ns="costmap"/>
    <rosparam file="$(find global_planner_plus)/config/global_planner.yaml" command="load" ns="planner"/>
  </node>
  
</launch>
